@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import 'tailwindcss';

@theme {
  --text-course-details-heading-small: 26px;
  --text-course-details-heading-small--line-height: 36px;

  --text-course-details-heading-large: 36px;
  --text-course-details-heading-large--line-height: 44px;

  --text-home-heading-small: 38px;
  --text-home-heading-small--line-height: 45px;

  --text-home-heading-large: 48px;
  --text-home-heading-large--line-height: 56px;
  
  --text-default: 15px;
  --text-default--line-height: 21px;

  --grid-template-columns-auto: repeat(auto-fit, minmax(200px, 1fr));

  --spacing-section-height: 500px;

  --course-card: 424px;
  --shadow-custom-card: 0px 4px 15px 2px rgba(0, 0, 0, 0.1);
}

@layer base {
  html {
      scroll-behavior: smooth;
  }
}

@layer components {
  .link-custom {
    @apply transition duration-500 hover:text-green-600 cursor-pointer;
  }

  .link-custom-2 {
    @apply transition duration-500 text-green-600 hover:text-green-500 cursor-pointer;
  }

  .button-custom {
    @apply text-white font-semibold transition duration-500 bg-green-600 hover:bg-green-500 cursor-pointer;
  }

  .button-custom-2 {
    @apply text-zinc-600 font-semibold transition duration-500 bg-zinc-300 hover:bg-zinc-200 cursor-pointer;
  }

  .button-custom-3 {
    @apply text-zinc-600 font-medium transition duration-500 border border-zinc-300 hover:bg-zinc-100 cursor-pointer;
  }
}

*{
  font-family: 'DM Sans', sans-serif;
  @apply selection:bg-green-600 selection:text-white;
}

::-webkit-scrollbar {
  display: none;
}

.rich-text { font-size: 15px; color: #7A7B7D; }
.rich-text p { margin-bottom: 16px; }

.rich-text h1 { font-size: 36px; font-weight: 800; color: #252525; margin: 32px 0; }
.rich-text h2 { font-size: 22px; font-weight: 700; color: #252525; margin: 24px 0; }
.rich-text h3 { font-size: 18px; font-weight: 600; color: #333333; margin: 20px 0; }
.rich-text h4 { font-size: 16px; font-weight: 500; color: #444444; margin: 16px 0; }
.rich-text h5 { font-size: 14px; font-weight: 400; color: #555555; margin: 12px 0; }
.rich-text h6 { font-size: 12px; font-weight: 400; color: #666666; margin: 8px 0; }

.rich-text strong { font-weight: 700; }

.rich-text ol { margin-left: 30px; list-style-type: decimal; }
.rich-text ul { margin-left: 30px; list-style-type: disc; }
.rich-text li { margin-bottom: 8px; }
